input#file-input(type='file')
p#status Please select a file
img#preview(src='/img/default.png')
form(method='POST' action='/submit_form/')
    input#avatar_url(type='hidden' name='avatar_url' value='/public/default.png')
    input(type='text' name='username' placeholder='Username')
    input(type='text' name='full_name' placeholder='Full name')
    input(type='submit' value='Update Profile')